.headlinePromo{
    margin-top: 60px;
    background-color: #84212b;
    min-height: 180px;
}

.headlineProduk{
    margin-top: 60px;
    background: rgb(132,33,43);
    background: linear-gradient(180deg, rgba(132,33,43,1) 27%, rgba(161,57,68,1) 56%, rgba(208,56,71,1) 96%);
    min-height: 280px;
    background-repeat: no-repeat, repeat; 
    background-size: cover;
    background-position:25% 75%;
}

.headlineKosong{
    margin-top: 60px;
    background: rgb(132,33,43);
    background: linear-gradient(180deg, rgba(132,33,43,1) 27%, rgba(161,57,68,1) 56%, rgba(208,56,71,1) 96%);
    background-repeat: no-repeat, repeat; 
    background-size: cover;
    background-position:25% 75%;
}

.headlineProduk .form{
    padding-top: 80px;
}
.headlineProduk .form h5,h6, label{
    padding: 0px 0px 5px 0px;
    margin:0px 0px 5px 0px;
    color: white;
}


.sidebarData{
    border-radius: 5px;
    background: rgb(132,33,43);
    background: linear-gradient(180deg, rgba(132,33,43,1) 27%, rgba(161,57,68,1) 56%, rgba(208,56,71,1) 96%);
    min-height: 280px;
    background-repeat: no-repeat, repeat; 
    background-size: cover;
    background-position:25% 75%;
}

.sidebarData .form{
    padding-top: 10px;
}
.sidebarData .form h5,h6{
    padding: 0px 0px 5px 8px;
    margin:0px 0px 5px 10px;
    color: white;
}

.hotelCard h5,h6 {
    color: #333 !important;
    margin: 0px 0px 7px 0px;
}

.hotelCard {
    margin-bottom: 10px;
}

.SlidePromo{
    padding: 10px 0px 0px 0px;
    overflow-x: hidden;
    margin: 0px 10px 0px 0px;
        
  }
  .SlidePromo img{
    display: inline-block;
    margin-right: 10px;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    line-height: 150px;
    box-shadow: 0 0 5px #333;
    text-align: center;
    overflow-x: hidden;
  }

.searchproduk{
    margin-top:32px; margin-left:-20px;
}

.marged {
    margin-left: -50px;
}

.SectionHeader{
    position: fixed;
    margin-top: -50px;
    width: 400px;
    margin-left: 500px;
    margin-right: auto;
    align-content: center !important;
    z-index: 999 !important;
}

.SectionprodukDetail{
    position: relative;
    margin-top: -200px;
    width: 100%;
    min-height: 180px;
    z-index: 999 !important;
    background-color: white;
    box-shadow: 0 0 5px #333;
    border-radius: 5px;
}

.searchHeader {
    width: 100%;
    padding: 10px 10px 10px 40px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.input-icons i { 
    position: absolute; 
} 
    
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
    
.icon { 
    padding: 10px; 
    min-width: 50px; 
    text-align: center; 
    font-size: 20px;
} 

.courselPromo{
    margin-top: -220px;
    z-index: 10;
}

.produkPilihan{
    box-shadow: 0 0 5px #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    
}

.produk-item {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: #333;
    margin: 0 5px 10px 0px;
    text-align: center;
}

.produk-item img{
    width: 40px;
    object-fit: fill;
    min-height: 40px;
    clear: both;
}

.produk-tittle{
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
}

.footerUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_title_body{
    color: #fff;
}

.no-margin{
    margin: 0px 0px 3px 0px;
}

.formData label {
    color: #333;
    font-weight: 500;
}

@media (max-width: 767px) {
    .SectionHeader{
        background-color: #84212b;
        padding: 10px;
        margin-top: 0;
        margin-left: 0;
        position: fixed;
        width: 100%;
    }
    .searchproduk{
        margin:0px 0px 10px 0px;
    }
    .marged {
        margin-left: 0px;
    }
}